@use "sass:math";

.textEffect {
  &::before {
    content: attr(text);
  }

  &:hover::before {
    animation: 1s linear text-effect;
    color: hsl(var(--accent-colorful));
  }
}

@keyframes text-effect {
  $frames: 10;

  @for $i from 0 to $frames {
    $percent: ($i / $frames) * 100%;
    $attr: frame#{$i};

    #{$percent} {
      content: attr($attr);
    }
  }
}
